<!doctype html>
<head>
<meta charset="utf-8">

<title>Perfect Blog: Error</title>

{{> style}}

</head>
<body>
<div id="header">
<h3>
<img id="logo" src="/perfect-2.0.png" height="58" alt="Perfect Logo">
Error
</h3>
</div>
<div id="content">
<div>No story found</div>
<br><br><a href="/">(Back)</a>
</div>
</body>
</html>
